<ng-template #logo>
    <object data="./assets/img/logo.svg" type="image/svg+xml" id="logo-svg"></object>
</ng-template>
<ng-template #info>
    <p class="smt">205/55 R16 H</p>
    <p class="smt">SUV</p>
</ng-template>
<ng-template #price>
    <p class="smt">Price ₪330</p>
</ng-template>
<ng-template #quantity>
    <div class="ipg">
        <button type="button" class="ipgl" (click)="inc($event)" value="-1">-</button>
        <input type="number" value="0" class="ipgm" readonly>
        <button type="button" class="ipgl" (click)="inc($event)" value="+1">+</button>
    </div>
</ng-template>
<ng-template #addto>
    <button class="addto">
        <object data="./assets/img/cart.svg" type="image/svg+xml" class="btn-cart"></object>
        <object data="./assets/img/plus.svg" type="image/svg+xml" class="btn-cart-plus"></object>
        Add to Cart
    </button>
</ng-template>
<ng-template #notify>
    <button class="notify">
        <object data="./assets/img/bell.svg" type="image/svg+xml" class="btn-notify"></object>
        Notify Me!
    </button>
</ng-template>
<!-- <div [ngTemplateOutlet]="notify"></div> -->
<div class="topnav">
    <div class="nav_comp" id="left">
        <div class="l_menu_comp" id="menu">
            <object data="./assets/img/menu.svg" type="image/svg+xml" id="menu-svg"></object>
        </div>
    </div>
    <div class="nav_comp" id="middle">
        <div class="m_menu_comp">
            <div class="input-gp" id="search">
                <div class="ip">
                    <input type="text" placeholder="Search...">
                </div>
                <button type="button" class="search-icon">
                    <object data="./assets/img/search.svg" type="image/svg+xml" id="user-svg"></object>
                </button>
            </div>
        </div>
    </div>
    <div class="nav_comp" id="right">
        <ul>
            <li *ngFor="let m of menulist">
                <div class="r_menu_comp" id="{{m.id}}">
                    <div class="r_comp">
                        <span *ngIf="m.id == 'cart' && cart==true" class="noti-dot"></span>
                        <object *ngIf="m.id == 'account'" data="./assets/img/user.svg" type="image/svg+xml" id="{{m.id}}"></object>
                        <object *ngIf="m.id == 'orders'" data="./assets/img/order.svg" type="image/svg+xml" id="{{m.id}}"></object>
                        <object *ngIf="m.id == 'cart'" data="./assets/img/cart.svg" type="image/svg+xml" id="{{m.id}}"></object>
                        <p class="text">{{m.text}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<section>
    <h1 class="recommend">Recommended Products</h1>
</section>
<section class="dn">
    <div class="secrow">
        <div class="sec-comp left">
            <span>Selected Filters : </span>
            <span class="pill">
                Continental
                <object data="./assets/img/cross.svg" type="image/svg+xml" id="b-cross-svg"></object>
            </span>
        </div>
        <div class="sec-comp right">
            <span>Sort By : </span>
            <span class="pill">
                <select>
                    <option value="pop">Popularity</option>
                    <option value="plh">Price Low to High</option>
                    <option value="phl">Price High to Low</option>
                    <option value="rat">Rating</option>
                </select>
            </span>
        </div>
    </div>
</section>
<hr class="hr">
<section>
    <div class="row mr">
        <div class="block col-50 mw" *ngFor="let t of texts">
            <h4 class="label">{{t.text}}</h4>
            <div class="isec col-25">
                <img src="./assets/img/tire.png" class="tireimg">
                <img src="./assets/img/tag.png" class="tagimg">
            </div>
            <div class="isec col-75">
                <div class="isec-row">
                    <h2 class="underline">Continental - Contiecocontact 5</h2>
                </div>
                <div class="isec-row">
                    <div class="inline m5 fm">
                        <div *ngTemplateOutlet="logo"></div>
                    </div>
                    <div class="inline m5">
                        <div *ngTemplateOutlet="info"></div>
                    </div>
                    <div class="inline m5">    
                        <p class="smt">
                            Stock
                            <object data="./assets/img/tick.svg" type="image/svg+xml" class="si" id="tick-svg"></object>
                        </p>
                        <div *ngTemplateOutlet="price"></div>
                    </div>
                    <div class="inline m5">
                        <p class="smt">Total</p>
                        <p class="smt"><b>₪1360</b></p>
                    </div>
                </div>
                <br>
                <div class="isec-row">
                    <div class="isec col-50 lq">
                        <div *ngTemplateOutlet="quantity"></div> 
                    </div>
                    <div class="isec col-50">
                        <div *ngTemplateOutlet="addto"></div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fill"></div>
    <div class="row" *ngFor="let l of list">
        <div class="block cw">
            <div class="inline lname">
                <h4 class="underline h4t">
                    Continental<br>
                    PremiumContact<span class="suffix">tm</span> 6
                </h4>
            </div>
            <div class="inline cm cwm1">
                <div *ngTemplateOutlet="logo"></div>
            </div>
            <div class="inline cm tl cwm2">
                <div *ngTemplateOutlet="info"></div>
            </div>
            <div class="inline cm tl cwm3">
                <div class="isecab">
                    <p class="smt">
                        Stock
                        <object *ngIf="l.status == 'available'" data="./assets/img/tick.svg" type="image/svg+xml" class="si" id="tick-svg"></object>
                        <object *ngIf="l.status == 'limited'" data="./assets/img/warning.svg" type="image/svg+xml" class="si" id="warning-svg"></object>
                        <object *ngIf="l.status == 'na'" data="./assets/img/cross.svg" type="image/svg+xml" class="si" id="r-cross-svg"></object>
                    </p>
                    <p *ngIf=l.text class="{{l.class}} smt"><b>{{l.text}}</b></p>
                </div>
            </div>
            <div class="inline cm qmp cwm4">
                <div *ngTemplateOutlet="price"></div>
            </div>
            <div class="inline cm">
                <div *ngTemplateOutlet="quantity"></div>
            </div>
            <div class="inline cm qmt cwm5">
                <p class="smt">Total <b>₪1360</b></p>
            </div>
            <div class="inline laddto">
                <div *ngIf="l.status != 'na'; then addto; else notify"></div>
            </div>
        </div>
    </div>
</section>

<section class="ls">
    <button type="button" class="pill ex">Load more results</button>
</section>