.topnav {
    width:100%;
    height:80px;
    background:var(--white);
    position: relative;
}
.nav_comp {
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}
#left.nav_comp {
    left: 0;
}
#right.nav_comp {
    right: 0;
}
#middle.nav_comp {
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.l_menu_comp {
    width:50px;
    height:50px;
    margin:15px;
    position: relative;
    cursor: pointer;
}
.l_menu_comp object {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}

#right.nav_comp ul {
    margin: 0 15px;
    padding: 0;
}
#right.nav_comp ul li {
    list-style: none;
    display: inline-block;
    margin-top: 4px;
}
.r_menu_comp {
    height:80px;
    width:60px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
}
.r_comp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.r_comp object {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 5px));
    -webkit-transform: translate(-50%, calc(-50% - 5px));
    -moz-transform: translate(-50%, calc(-50% - 5px));
    -ms-transform: translate(-50%, calc(-50% - 5px));
    -o-transform: translate(-50%, calc(-50% - 5px));
    cursor: pointer;
}
.r_comp p {
    font-size: 14px;
    text-align: center;
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    color: var(--grey);
}
#cart object {
    left: 9px;
}

.noti-dot {
    width:12px;
    height:12px;
    background:var(--yellow);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border: solid 2px var(--white);
    display: block;
    position: absolute;
    z-index: 1;
    right:-5px;
}

.m_menu_comp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    background: var(--yellow);
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: none;
}
.search-icon object {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}
.ip input {
    padding: 12px 15px;
    width: 40vw;
    border: solid 1px var(--lightgrey);
    border-radius: 50px;
    color: var(--grey);
}

.recommend {
    font-size: 28px;
}

.sec-comp {
    position: absolute;
    top: 50%;
    color: var(--darkgrey);
    transform: translate(0, -50%);
}
.secrow {
    height: 20px;
}
.sec-comp.left {
    left:0;
}
.sec-comp.right {
    right:0;
}
.pill {
    color: var(--black);
    padding: 8px 15px;
    border: solid 1px var(--darkgrey);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.pill object {
    position: relative;
    top: 3px;
    right: -5px;
    z-index: 1;
    cursor: pointer;
}
.pill select {
    padding: 8px;
    background: transparent;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-left: -10px;
    margin-right: -5px;
    width: 110px;
    color: var(--black)
}
.pill.ex {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.hr {
    margin:25px;
}

.row {
    margin: 0 -10px;
}
.isec-row {
    min-height: 50px;
}
.block {
    margin: 20px 10px;
    padding: 15px;
    background: var(--white);
    position: relative;
    display: flow-root;
}
.block.col-50 {
    width:calc(50% - 50px);
}
.label {
    position: absolute;
    left: 0;
    top: -15px;
    padding: 5px 20px;
    background: var(--yellow);
    margin:0;
}
.isec {
    position: relative;
}
.tireimg {
    padding-top: 40px;
    padding-bottom: 10px;
}
.tagimg {
    position: absolute;
    top: 35px;
    left: 90px;
}
.smt {
    line-height: 7px;
    margin-top: 11px;
}
.si {
    margin-top: -10px;
    position: relative;
    top: 2px;
    width: 15px;
}
.ipg button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: white;
    border: solid 1px var(--grey);
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: var(--darkgrey);
}
.ipg input {
    width: 40px;
    height: 38px;
    padding: 0 20px;
    background: var(--lightgrey);
    border: solid 1px var(--grey);
    position: relative;
    top: -2px;
    z-index: 0;
    margin: 0px -20px;
    text-align: center;
}
.addto {
    float: right;
    margin: 0 20px;
    padding: 15px 20px 15px 50px;
    border-radius: 50px;
    border: none;
    background: var(--yellow);
    line-height: 10px;
    cursor: pointer;
    position: relative;
}
.notify {
    float: right;
    margin: 0 20px;
    padding: 15px 20px 15px 50px;
    border-radius: 50px;
    border: none;
    background: var(--white);
    line-height: 10px;
    cursor: pointer;
    position: relative;
    border: solid 2px var(--yellow);
}
.btn-cart {
    position: absolute;
    left: 17px;
    width: 22px;
    top: 10px;
}
.btn-notify {
    position: absolute;
    left: 24px;
    width: 16px;
    top: 10px;
}
.btn-cart-plus {
    position: absolute;
    top: 8px;
    left: 31px;
}

.h4t {
    line-height: 25px;
    margin:10px;
}

.sr10 {
    margin: 10px 0;
}
.textdn {
    color: var(--maroon);
}
.ipg {
    width: 125px;
}
.laddto {
    float: right;
    margin: -5px 0px;
    transform: translate(0, 50%);
    position: relative;
}
.m5 {
    margin-right: 10%;
}
.cm {
    width: 12%;
    margin: 0;
    text-align: center;
}
.mw {
    min-width: 314px;
}
.ls {
    z-index: 0;
}
.dn {
    height: 40px;
}
/* Media queries */

@media screen and (max-width: 1345px) {
    .m5 {
        margin-left: 0;
        margin-right: 8%;
    }
}
@media screen and (max-width: 1310px) {
    .cm {
        width: 11%;
    }
}
@media screen and (max-width: 1204px) {
    .m5 {
        margin-left: 0;
        margin-right: 4%;
    }
    .tireimg {
        margin-left: -15px;
    }
    .tagimg {
        left: 75px;
    }
    h2.underline {
        font-size: 22px;
        margin-left: 0;
    }
}
@media screen and (max-width: 1150px) {
    .qmt {
        margin-left: 30px;
    }
    .qmp {
        margin-left: -10px;
    }
    .addto, .notify {
        margin:0;
    }
    .m5 {
        margin-left: 10px;
        margin-right: 1%;
    }
    .ipg {
        margin-left: 10px;
    }
    h2.underline {
        font-size: 22px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1024px) {
    h2.underline {
        font-size: 22px;
        margin-left: 15px;
    }
    .m5 {
        margin-left: 10px;
        margin-right: 1%;
    }
    .tireimg {
        margin-left: -15px;
    }
    .tagimg {
        left: 75px;
    } 
}
@media screen and (max-width: 1023px) {
    h2.underline {
        font-size: 18px;
        margin-left: 50px;
    }
    .m5 {
        margin-left: 50px;
        margin-right: 0;
        margin-top: 0px;
    }
    .ip input {
        width:30vw;
    }
    .lq {
        transform: translate(-70%, 0);
        -webkit-transform: translate(-70%, 0);
        -moz-transform: translate(-70%, 0);
        -ms-transform: translate(-70%, 0);
        -o-transform: translate(-70%, 0);
    }
    .cw {
        width: calc(50% - 50px);
        float: left;
        height: 160px;
        margin: 10px;
    }
    .cw .ipg {
        position: absolute;
        bottom: 10px;
        left: 7px;
    }
    .laddto {
        margin: unset;
        transform:unset;
        -webkit-transform:unset;
        -moz-transform:unset;
        -ms-transform:unset;
        -o-transform:unset;
        position: absolute;
        bottom: 12px;
        right: 15px;
    }
    .h4t {
        line-height: 20px;
        margin: 0px 5px;
    }
    .cwm1 {
        position: absolute;
        bottom: 65px;
        left: 20px;
    }
    .smt {
        line-height: 1;
        margin: 0;
    }
    .cwm2 {
        font-size: 18px;
        position: absolute;
        top: 20px;
        width: 136px;
        right: 20px;
        text-align: right !important;
    }
    .cwm3 {
        position: absolute;
        bottom: 89px;
        left: 100px;
        width: 100px;
        transform: translate(0, 15%);
    }
    .cwm4 {
        position: absolute;
        right:0;
        bottom: 100px;
        width: 115px;
    }
    .cwm5 {
        position: absolute;
        bottom: 75px;
        right: 0;
        text-align: left;
        width: 100px;
    }
}
@media screen and (max-width: 880px) {
    .addto, .notify {
        margin-left:-20px;
    }
    h2.underline {
        font-size: 18px;
        margin-left: 50px;
    }
    .m5 {
        margin-left: 50px;
        margin-right: 0;
        margin-top: 0px;
    }
}
@media screen and (max-width: 820px) {
    .row.fill {
        width: 100vw;
        height: 30px;
        background: var(--lightgrey);
        position: relative;
        z-index: 10;
        top: -22px;
        margin-bottom: -20px;
    }
    .mr {
        display: flex;
        overflow-x: scroll;
    }
    .m5 {
        margin-left: 50px;
        margin-right: 0;
        margin-top: 10px;
    }
    .fm {
        margin-right: -30px;
    }
}
@media screen and (max-width: 768px) {
    .dn {
        display:none;
    }
    .block {
        margin-left: 0;
        margin-right: 20px;
    }
    #middle.nav_comp {
        left: unset;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        right: 300px;
}
    .m_menu_comp {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        right: -60px;
    }
    #search {
        width: 0;
        overflow: hidden;
    }
}
@media screen and (max-width: 730px) {
    .cw {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 50px);
    }
}