/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Calibri';
  src: url(/assets/fonts/Calibri\ Regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: 'Calibri-bold';
  src: url(/assets/fonts/Calibri\ Bold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: 'Calibri-light';
  src: url(/assets/fonts/Calibri\ Light.woff2);
  font-weight: lighter;
}
:root {
    --white : white;
    --yellow : #FFA500;
    --lightgrey : #E0E0E0;
    --grey : #9C9D9D;
    --darkgrey : #363636;
    --black: black;
    --maroon : #8E1216;
}
body {
    margin:0;
    padding:0;
    background: var(--lightgrey);
    font-family: 'Calibri','Calibri-bold','Calibri-light';
}
input:focus, select:focus, button:focus {
    outline: none;
}
section {
    margin: 0px 25px;
    position:relative;
    z-index: 1;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,b {
    font-family: 'calibri-bold';
}

.col-9 {
    width: 9%;
    float:left;
}
.col-15 {
    width: 15%;
    float:left;
}
.col-25 {
    width: 25%;
    float:left;
}
.col-50 {
    width: 50%;
    float:left;
}
.col-75 {
    width: 75%;
    float:left;
}

.underline {
    text-decoration: underline;
}

button[disabled] {
    cursor:disabled !important;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}
.tl {
    text-align:left !important;
}